__pycache__/
*.pyc
.venv/
*.pem
addr
*~

# ------------------------------------------------------------------------------
# Fichiers de compilation et exécutables (Regroupés à la racine)
# ------------------------------------------------------------------------------
/build/
*.o
*.a
*.out
# ------------------------------------------------------------------------------
# Données locales volumineuses (Brique 2 et 5)
# ------------------------------------------------------------------------------
/data/*.db
/data/*.db-wal
/data/*.db-shm

# ------------------------------------------------------------------------------
# Dépendances Node.js / Client (Brique 4)
# ------------------------------------------------------------------------------
/brique4_client/node_modules/
/brique4_client/dist/
*.log
